.jobs-footer-bg {
  background-color: #000000;
  display: flex;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  min-height: 100vh;
}
@media screen and (max-width: 576px) {
  .jobs-footer-bg {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }
}
.profile-filter-container {
  width: 25%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
@media screen and (max-width: 576px) {
  .profile-filter-container {
    width: 100%;
  }
}
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container {
  padding-top: 60px;
}
.loader-container-1 {
  padding-left: 500px;
  padding-top: 250px;
}
.separator {
  color: #cbd5e1;
  width: 100%;
  margin-top: 20px;
}
.search-jobs-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.input-search-container {
  display: flex;
  align-items: center;
  border: 1px solid #475569;
  border-radius: 4px;
  width: 300px;
}
@media screen and (max-width: 576px) {
  .input-search-container {
    width: 90%;
  }
}
.jobs-input {
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #7e858e;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto;
  width: 270px;
}
@media screen and (max-width: 576px) {
  .input-search-container {
    width: 270px;
  }
}
.search-jobs-button {
  height: 100%;
  background-color: #2c364c;
  border: none;
  outline: none;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 6px;
}
.failure-container {
  margin-top: 30px;
  text-align: center;
}
.failure-image {
  width: 70%;
  margin-bottom: 10px;
}
.failure-header {
  color: #ffffff;
  font-size: 34px;
  font-weight: 500;
  font-family: Roboto;
}
.failure-para {
  color: #f1f5f9;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto;
}
.retry-button {
  background-color: #6366f1;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  outline: none;
  cursor: pointer;
}
.jobs-list-container {
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-jobs-img {
  width: 300px;
}
.no-jobs-header {
  color: #ffffff;
  font-size: 30px;
  font-family: Roboto;
}
.no-jobs-para {
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto;
}
.no-jobs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 400px;
  padding-top: 100px;
}
@media screen and (max-width: 576px) {
  .no-jobs-container {
    padding-left: 20px;
    padding-top: 20px;
  }
}
