.nav-bar {
  background-color: #202020;
  display: flex;
  align-items: center;
  padding: 10px;
}
.header-text {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.header-logo-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
}
.header-logo {
  width: 100px;
}
.header-list-container {
  display: flex;
  align-items: center;
  padding: 0px;
  list-style-type: none;
}
.header-list-item {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  margin: 10px;
  text-decoration: none;
}
.header-logout-button {
  background-color: #6366f1;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  outline: none;
  cursor: pointer;
}
